In [3]:
%pip install tilearn
import tilearn as tl

Requirement already satisfied: tilearn in /Users/chibangnguyen/Documents/thuhoach.nckh/venv/lib/python3.12/site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.

# 1---

$r_{j_{k+1}} = 0$

$\underset{l \in J}{\min} (\underset{l \in J}{\max} (t, r_l) + p_l) = 3$

ok

In [109]:
a1 = [
    [1, 4, 0, 8, 1],
    [4, 5, 5, 10, 1],
    [3, 6, 3, 11, 1],
    [2, 2, 1, 12, 1],
]

In [110]:
data = tl.lateness(tl.c_time(a1))
for row in data:
    print(row)

[1, 4, 0, 8, 1, 4, -4]
[4, 5, 5, 10, 1, 9, -1]
[3, 6, 3, 11, 1, 15, 4]
[2, 2, 1, 12, 1, 17, 5]

**Lower bound = 5**

## 12--

$r_{j_{k+1}} = 1$

$t = 4$

$\underset{l \in J}{\min} (\underset{l \in J}{\max} (t, r_l) + p_l) = 10$

ok

In [115]:
a12 = [
    [1, 4, 0, 8, 1],
    [2, 2, 1, 12, 1],
    [4, 5, 5, 10, 1],
    [3, 6, 3, 11, 1],
]

In [116]:
data = tl.lateness(tl.c_time(a12))
for row in data:
    print(row)

[1, 4, 0, 8, 1, 4, -4]
[2, 2, 1, 12, 1, 6, -6]
[4, 5, 5, 10, 1, 11, 1]
[3, 6, 3, 11, 1, 17, 6]

Lower bound = 6

## 13--

$r_{j_{k+1}} = 3$

$t = 4$

$\underset{l \in J}{\min} (\underset{l \in J}{\max} (t, r_l) + p_l) = 6$

ok

In [128]:
a13 = [
    [1, 4, 0, 8, 1],
    [3, 6, 3, 11, 1],
    [4, 5, 5, 10, 1],
    [2, 2, 1, 12, 1],
]

In [129]:
data = tl.lateness(tl.c_time(a13))
for row in data:
    print(row)

[1, 4, 0, 8, 1, 4, -4]
[3, 6, 3, 11, 1, 10, -1]
[4, 5, 5, 10, 1, 15, 5]
[2, 2, 1, 12, 1, 17, 5]

Lower bound = 5

### 1324

In [132]:
a1324 = [
    [1, 4, 0, 8, 1],
    [3, 6, 3, 11, 1],
    [2, 2, 1, 12, 1],
    [4, 5, 5, 10, 1],
]

In [133]:
data = tl.lateness(tl.c_time(a1324))
for row in data:
    print(row)

[1, 4, 0, 8, 1, 4, -4]
[3, 6, 3, 11, 1, 10, -1]
[2, 2, 1, 12, 1, 12, 0]
[4, 5, 5, 10, 1, 17, 7]

Lower bound = 7

### 1342

In [134]:
a1342 = [
    [1, 4, 0, 8, 1],
    [3, 6, 3, 11, 1],
    [4, 5, 5, 10, 1],
    [2, 2, 1, 12, 1],
]

In [135]:
data = tl.lateness(tl.c_time(a1342))
for row in data:
    print(row)

[1, 4, 0, 8, 1, 4, -4]
[3, 6, 3, 11, 1, 10, -1]
[4, 5, 5, 10, 1, 15, 5]
[2, 2, 1, 12, 1, 17, 5]

**Lower bound = 5**

**$C_{\max} = 17$**

## 14--

$r_{j_{k+1}} = 5$

$t=4$

$\underset{l \in J}{\min} (\underset{l \in J}{\max} (t, r_l) + p_l) = 6$

ok

In [ ]:
a14 = [
    [1, 4, 0, 8, 1],
    [4, 5, 5, 10, 1],
    [3, 6, 3, 11, 1],
    [2, 2, 1, 12, 1],
]

Lower bound = 5

### 1432

In [137]:
a1432 = [
    [1, 4, 0, 8, 1],
    [4, 5, 5, 10, 1],
    [3, 6, 3, 11, 1],
    [2, 2, 1, 12, 1],
]

In [138]:
data = tl.lateness(tl.c_time(a1432))
for row in data:
    print(row)

[1, 4, 0, 8, 1, 4, -4]
[4, 5, 5, 10, 1, 9, -1]
[3, 6, 3, 11, 1, 15, 4]
[2, 2, 1, 12, 1, 17, 5]

Lower bound = 5

$C_{\max} = 18$

### 1423

In [126]:
a1423 = [
    [1, 4, 0, 8, 1],
    [4, 5, 5, 10, 1],
    [2, 2, 1, 12, 1],
    [3, 6, 3, 11, 1],
]

In [127]:
data = tl.lateness(tl.c_time(a1423))
for row in data:
    print(row)

[1, 4, 0, 8, 1, 4, -4]
[4, 5, 5, 10, 1, 9, -1]
[2, 2, 1, 12, 1, 11, -1]
[3, 6, 3, 11, 1, 17, 6]

Lower bound = 6

# 2---

$r_{j_{k+1}} = 1$

$\underset{l \in J}{\min} (\underset{l \in J}{\max} (t, r_l) + p_l) = 4$

ok

In [111]:
a2 = [
    [2, 2, 1, 12, 1],
    [1, 4, 0, 8, 1],
    [4, 5, 5, 10, 1],
    [3, 6, 3, 11, 1],
]

In [112]:
data = tl.lateness(tl.c_time(a2))
for row in data:
    print(row)

[2, 2, 1, 12, 1, 2, -10]
[1, 4, 0, 8, 1, 6, -2]
[4, 5, 5, 10, 1, 11, 1]
[3, 6, 3, 11, 1, 17, 6]

Lower bound = 6

# 3---

$r_{j_{k+1}} = 3$

$\underset{l \in J}{\min} (\underset{l \in J}{\max} (t, r_l) + p_l) = 3$

skip

In [ ]:
# 3---
a3 = [
    [3, 6, 3, 11, 1],
    [2, 2, 1, 12, 1],
    [1, 4, 0, 8, 1],
    [4, 5, 5, 10, 1],
]

# 4---

$r_{j_{k+1}} = 5$

$\underset{l \in J}{\min} (\underset{l \in J}{\max} (t, r_l) + p_l) = 3$

skip

In [107]:
# 4---
a4 = [
    [4, 5, 5, 10, 1],
    [3, 6, 3, 11, 1],
    [2, 2, 1, 12, 1],
    [1, 4, 0, 8, 1],
]